

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rows {
  max-width: 1140px;
  margin: 0 auto;
}



.sectionreview{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),url();
  background-size: cover;
color: #fff;
background-attachment: fixed;
}
blockquote{
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  position: relative;
  margin-top: 40px;
}
cite{
  font-size: 90%;
  margin-top: 25px;
  display: block;
}
cite img{
  height: 45px;
  border-radius: 100%;
  margin-right: 10px;
  vertical-align: middle;
}
blockquote:before{
  content: "\201C";
  display: block;
  font-size: 500%;
  position: absolute;
  top: -5px;
left: -5px;
  margin-bottom: 50px;
}

